<section class="flex w-full  justify-center align-middle py-3 box-content">
    <div class="card w-4/5  bg-ashGray shadow-xl">
        <div class="card-body">
            <h2 class="card-title  border-b-2 text-3xl border-AliceBlue pb-2 text-OffBlack">{{title}}</h2>
            <p class="text-lg font-bold text-OffBlack text-pretty ">{{body}}</p>
            <div class="card-actions justify-end content-between items-end">
                <p class="text-lg font-bold text-OffBlack border-t-2 border-AliceBlue">Created By: {{name}}</p>
                <i class="fa-solid fa-trash hover:scale-150 hover:cursor-pointer" style="color: #e73636;"></i>

            </div>
        </div>
    </div>
</section>