{{#each blogs as |blog| }}
<section class="flex w-full h-full justify-center align-middle py-3 ">
    <div class="card w-4/5 bg-ashGray shadow-xl">
        <div class="card-body">
            <h2 class="card-title  border-b-2 text-3xl border-AliceBlue pb-2 text-OffBlack">{{title}}</h2>
            <p class="mb-4 text-lg font-normal text-OffBlack">{{description}}</p>
            <div class="card-actions justify-end content-between items-end">
                <p class="text-lg font-normal text-OffBlack">Created By: {{name}} </p>
                <button
                    class="btn  bg-columbiaBlue hover:bg-myrtleGreen hover:scale-105 cursor-pointer text-OffBlack">READ
                    MORE <i class="fa-solid fa-angles-right"></i></button>
            </div>
        </div>
    </div>
</section>
{{/each}}