<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold pb-4">Login now!</h1>
            <p class="py-2 font-bold text-OffBlack">Welcome to Binary Blend!</p>
            <p class="py-2 font-bold text-OffBlack">We're thrilled to have you join our community of thought leaders and storytellers at Binary Blend. 
                Get ready to embark on a journey of insightful narratives, cutting-edge trends, and the perfect blend of tech and creativity.
            </p>
            <p class="py-2 font-bold text-OffBlack">As a member of Binary Blend Blog, you're not just a reader; you're a vital part of our diverse community. 
                Explore our articles, share your thoughts, and be inspired by the ever-evolving world of technology..</p>
            <p class="py-2 font-bold text-OffBlack">Thank you for choosing Binary Blend Blog. Let the stories unfold, and let your ideas resonate!</p>
            <p class="py-2 font-bold text-OffBlack">The Binary Blend Team</p>
        </div>
        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <form class="card-body bg-ashGray glass h-[26rem] login-form">
                <div class="form-control">
                    <label for="login-email" class="label">
                        <span class="label-text font-bold text-OffBlack">Email</span>
                    </label>
                    <input type="text" placeholder="email" class="input input-bordered" id="login-email" required />
                </div>
                <div class="form-control">
                    <label for="login-password" class="label mt-6">
                        <span class="label-text font-bold text-OffBlack">Password</span>
                    </label>
                    <input type="password" placeholder="password" class="input input-bordered" id="login-password" required />
                </div>
                <div class="form-control mt-11">
                    <button type="submit"  class="btn bg-columbiaBlue hover:bg-columbiaBlue hover:scale-105 cursor-pointer text-OffBlack">LOGIN</button>
                </div>
                
            </form>
            <a href="/signup" class="btn btn-xs text-OffBlack bg-transparent border-none hover:bg-transparent">Don't have an account? Click Here!</a>
        </div>
    </div>
</div>

<script src="./js/login.js"></script>