<section class="flex h-4/5 justify-center content-center flex-wrap">
    <div class="card h-3/5 w-3/5 glass shadow-2xl bg-ashGray text-OffBlack">
        <section>
            <div class="card-body inline-flex w-full">
                <div class="avatar">
                    <div class="w-[6rem] rounded-full shadow-xl">
                        <img src="https://picsum.photos/200" />
                    </div>
                    <h2 class="card-title border-b-2 text-3xl border-AliceBlue pl-3 w-full">{{name}}</h2>
                </div>

            </div>
        </section>
        <section>
            <p class="pl-5 my-3 font-semibold">Username: {{name}}</p>
            <p class="pl-5 my-3 font-semibold">Email: {{email}}</p>
        </section>
        <div class="card-actions h-[25rem] content-end justify-end p-4 ">
            <button class="btn bg-green shadow-lg hover:bg-darkGreen hover:border-green font-bold border-darkGreen">New
                Post</button>
            <button class="btn bg-red shadow-lg hover:bg-darkRed hover:border-red font-bold border-darkRed">Delete
                Profile</button>
        </div>
    </div>
</section>

<script src="./js/profile.js"></script>