<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold pb-4">Sign up now!</h1>
            <p class="py-2 font-bold text-OffBlack">Welcome to Binary Blend!</p>
            <p class="py-2 font-bold text-OffBlack">Congratulations on joining our vibrant community of tech enthusiasts
                and innovators! At Binary Blend, we're all about
                the perfect mix of ones and zeros, creating a dynamic space where ideas converge and innovation thrives.
            </p>
            <p class="py-2 font-bold text-OffBlack">Get ready to explore the binary world like never before. Whether
                you're a seasoned coder or just starting your digital
                journey, Binary Blend is your platform to connect, learn, and grow. Share your insights, collaborate on
                projects, and
                dive into the fascinating realm of binary brilliance.</p>
            <p class="py-2 font-bold text-OffBlack">Thank you for choosing Binary Blend. Let the blending of ideas
                begin!</p>
            <p class="py-2 font-bold text-OffBlack">The Binary Blend Team</p>
        </div>
        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <form class="card-body bg-ashGray glass h-[26rem] signup-form">
                <div class="form-control">
                    <label for="signup-name" class="label">
                        <span class="label-text font-bold text-OffBlack">Username</span>
                    </label>
                    <input type="text" placeholder="username" class="input input-bordered" id="signup-name"/>
                </div>
                <div class="form-control">
                    <label for="signup-email" class="label">
                        <span class="label-text font-bold text-OffBlack">Email</span>
                    </label>
                    <input type="text" placeholder="email" class="input input-bordered" id="signup-email"/>
                </div>
                <div class="form-control">
                    <label for="signup-password" class="label">
                        <span class="label-text font-bold text-OffBlack">Password</span>
                    </label>
                    <input type="password" placeholder="password" class="input input-bordered" id="signup-password"/>
                </div>
                <div class="form-control mt-4">
                    <button type="submit" class="btn bg-columbiaBlue hover:bg-columbiaBlue hover:scale-105 cursor-pointer text-OffBlack">SIGNUP</button>
                </div>
            </form>
            <a href="/login" class="btn btn-xs text-OffBlack bg-transparent border-none hover:bg-transparent">Already have an account? Click Here!</a>
        </div>
    </div>
</div>

<script src="./js/signup.js"></script>